@model applynowcrud.Models.JobDetailmvc

@{
    ViewData["Title"] = "Create";
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="~/css/detail.css" rel="stylesheet" />
</head>

<body>
    <h1>Create</h1>

    <h4>JobDetailmvc</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" id="formid">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="JobDetailsId" class="control-label"></label>
                        <input asp-for="JobDetailsId" class="form-control" />
                        <span asp-validation-for="JobDetailsId" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="Companyname" class="control-label"></label>
                    <input asp-for="Companyname" class="form-control" />
                    <span asp-validation-for="Companyname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobCategory" class="control-label"></label>
                    <input asp-for="JobCategory" class="form-control" />
                    <span asp-validation-for="JobCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Requiredskills" class="control-label"></label>
                    <input asp-for="Requiredskills" class="form-control" />
                    <span asp-validation-for="Requiredskills" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Experience" class="control-label"></label>
                    <input asp-for="Experience" class="form-control" />
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoOfVacancies" class="control-label"></label>
                    <input asp-for="NoOfVacancies" class="form-control" />
                    <span asp-validation-for="NoOfVacancies" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobLocation" class="control-label"></label>
                    <input asp-for="JobLocation" class="form-control" />
                    <span asp-validation-for="JobLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhNo" class="control-label"></label>
                    <input asp-for="PhNo" class="form-control" />
                    <span asp-validation-for="PhNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyAddress" class="control-label"></label>
                    <input asp-for="CompanyAddress" class="form-control" />
                    <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobDescription" class="control-label"></label>
                    <input asp-for="JobDescription" class="form-control" />
                    <span asp-validation-for="JobDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobType" class="control-label"></label>
                    <input asp-for="JobType" class="form-control" />
                    <span asp-validation-for="JobType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                @*<button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                    </button>*@
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        //$('#btn').on('shown.bs.modal', function () {
        //        $('#examplemodal').trigger('focus')
        //})
        $(document).ready(function () {

            $("#btn").click(function () {
                $("#examplemodal").modal();
            });
        });
    </script>

</body>
</html>
@*<script>
    $(document).ready(function () {
        //delegated submit handlers for the forms inside the table
        $('#btnform').on('click', function (e) {
            e.preventDefault();

            //read the form data ans submit it to someurl
            $.post('<?php echo base_url() ?>index.php/reception/add_walkin', $('#formid').serialize(), function () {
                //success do something

                // $.notify("New Patient Added Succesfully", "success",{ position:"left" });
                $(".formid").notify(
                    "New Walkin Patient Added Successfully",
                    "success",
                    { position: "center" }
                );
                setInterval(function () {
                    var url = "<?php echo base_url() ?>index.php/reception/";
                    $(location).attr('href', url);
                }, 3000);


            }).fail(function () {
                //error do something
                $(".formid").notify(
                    "There was an error please try again later or  contact the system support desk  for assistance",
                    "error",
                    { position: "center" }
                );

            })
        })

    });</script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
